# .github/workflows/pr.yml
name: pr

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  pr-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Setup node
      uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'

    - name: Add node_modules/.bin to PATH
      run: echo "$(pwd)/node_modules/.bin" >> $GITHUB_PATH

    - name: npm clean install
      run: npm ci

    - name: lint
      run: make lint

    - name: build
      run: make build

    - name: smoke tests
      shell: bash
      env:
        TERM: xterm
        BATS_FORMAT: tap
      run: make smoke
