# .github/workflows/readme.yml
name: readme

on:
  push:
    branches: [ main ]
    paths:
      - 'README.md'
      - '.github/workflows/readme.yml'

permissions:
  contents: read

jobs:
  update-dockerhub-readme:
    runs-on: ubuntu-latest
    environment: ci

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Update Docker Hub Description
      uses: peter-evans/dockerhub-description@v5
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
        short-description: ${{ github.event.repository.description }}
        readme-filepath: ./README.md
